*
*::before
*::after{
   
    box-sizing: border-box;
}

body{
    background-color: #f2f2f2;
}

.wrapper{
    position: relative;
    height: 10vh;
    background-color: blueviolet;
    background: #ADA996;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 13rem;
}
h2{
    text-shadow:3px 2px rgb(255, 177, 177);
    color: coral;
    position:relative;
    font-weight: 700;
    font-size: 100px;
    padding-bottom: 5rem;
    margin: 5rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    transform: rotate(180deg);
    text-align: center;
    letter-spacing: 20px;
}


.custom-shape-divider-bottom-1670596445 {
    position: absolute;
    bottom:0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1670596445 svg {
    position: relative;
    display: block;
    width: calc(138% + 1.3px);
    height: 150px;
}

.custom-shape-divider-bottom-1670596445 .shape-fill {
    fill: #f2f2f2;
}

/*navbar*/
ul{
  

    padding-top: 20px;

    width: 100%;

    height: 0px;

    justify-content: center;

    background-color:black .08;

    position: relative;

    display: flex;

    flex-direction: row;

    gap: 40px;
    

  }

  ul li{
    margin-top: 0;

    position: relative;

    list-style: none;

    padding-right: 10px; /*saga kaydirma*/

    
    

  }


  ul li a{

    
    position: relative;

    font-size: 35px;

    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    text-decoration: dotted;
    list-style: none;
    line-height: 1em;

    letter-spacing: 5px;

    text-transform: uppercase;

    color: black;

    -webkit-text-stroke: 1px rgba(255,255,255,0.5);

  }

  ul li a::before{

    content: attr(data-text);

    position: absolute;

    color: var(--clr);

    width: 0;

    overflow: hidden;

    transition: 1s;

    border-right: 8px solid  var(--clr);

    -webkit-text-stroke: 1px  var(--clr);

  }

  ul li a:hover::before{
    
    width: 100%;

    filter: drop-shadow(0 0 25px var(--clr));

 }

 .textbody{
    margin: 0 250px 0 250px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 }
 
 .textbody li{
  font-size: 20px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 }



 p{
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 }


.subject{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.subject span{
    font-size: 20px;
}

.subject li b{
    font-weight: bolder;
    font-size: 20px;
}

.footer-container{
  background-color: #393e4e;
  padding-bottom: 4rem 0 4rem 0;
  margin-top: 75em;
}


.footer{
  width: 80%;
  height: 40vh;
  background-color:#393e4e; /*yazıkutusu*/
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #fff;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
}

.footer-heading{
  display: flex;
  flex-direction: column;
  margin-right: 4rem;
}

.footer-heading h4{
  border-bottom: 2px solid   #6baf9e;
  color: #F0F4F3;
  text-align: center;
  margin-bottom: 2rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.footer-heading a{
  color:  #F0F4F3;
  text-decoration: none;
  margin-bottom: 0.5rem;
}
.footer-heading span{
  color:  #F0F4F3;
  text-decoration: none;
  margin-bottom: 0.5rem;
}

.footer-heading a:hover{
  color: rgb(206, 195, 195);
  transition: 0.3s ease-out;
}

/*.fa {
  padding: 20px;
  font-size: 20px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}*/

.fa:hover {
  opacity: 0.7;
}